body {
    font-family: sans-serif;
    background-color:white;
}

.link-header {
    color: #AB845E;
    background-color: #2A1500;
    padding:5px;
    border: 3px double #2A1500;
    border-radius: 10px;
    text-decoration: none;
}

header {
    padding:20px;
    background-color: #0E0700;
    margin: 15px;
}

h1 {
    color: #AB6F34;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:15px;
}

li {
    color: #2A1500;
    font-size:20px;
}

p {
    color: #2A1500;
}

ul {
    list-style:url(https://i.ibb.co/PTHPp7w/Rectangle-1-1.jpg);
}

footer  {
    background-color: #0E0700;
    border: 1px solid #0E0700;
    border-radius: 10px;
    padding:10px;
}

.social {
    margin-left:20px;
}

.link-text {
    text-decoration: none;
    color: #0E0700;
}

.link-nav {
    text-decoration: none;
    color: #2A1500;
    background-color: #AB845E;
    border: #AB845E 3px solid;
    border-radius:10px ;
    padding: 5px;
    margin-right: 15px;
}

.link-nav:hover {
    background-color:#2A1500;
    border:#2A1500 3px solid;
    transition: all 5s;
    color: #AB6F34;
}

.link-header:hover {
    background-color: #AB6F34;
    color: #2A1500;
    border: #2A1500 3px double;
    transition: all 3s;
}

.text:hover {
    font-size:20px;
    margin-left:20px;
    transition: all 7s ease-out;
}

.link-nav:focus {
    background-color: white ;
    color: black;
    border: white 3px solid;
}

.img:hover {
    opacity: 0.5;
    transition: all 10s;
}

.vk:hover {
    transform: translateX(1400px);
    transition:all 25s ease-in;
}
